body {
    font-family: sans-serif;
}
.tab {
    display: none;
}
.tabs {
    float: left;
    border-bottom: 10px solid #007069;
    width: 100%;
    margin-bottom: 16px;
    list-style: none;
}
.tabs li {
    float: left;
    margin-right: 16px;
    padding: 10px 15px;
    height: 30px;
    line-height: 30px;
}
.tabs li a {
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.examples {
    width: 40%;
    display: inline-block;
    text-align: center;
    padding-left: 50px;
}
